body {
    background-color: rgb(90, 95, 104);
    color: white;
    background-image: url("../images/zakat2.jpg");
    background-size:cover;
    font-family: " Arial";
  }

  div {
    border-style: dotted;
    border-width: 2px;
    height: 100px;
    width: 100px;
  }
  
  h1 {
    font-size: 20px;
  }
  
  p {
    border: 2px solid rgb(69, 58, 74);
    border-radius: 5px;
    padding: 5px;
    color: lightgray;
    font-size: 12px;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style-type: upper-alpha;
  }