body {
    font-family: Arial, sans-serif;
    color: #333333;
    margin: 20px;
    padding: 5px;
    background-color: #f7f7f7;
    background-image: url('../images/tausta_pexels-daiangan-102129.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
 
  .navbar {
  background: none;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  }

  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "nav aside"
      "footer footer";
    grid-gap: 20px;
    padding: 20px;
  }
  
  header {
    grid-area: header;
    background: #4a90e2;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
  }
  
  nav {
    grid-area: nav;
    background: #7fbf7f;
    padding: 20px;
    border-radius: 5px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 0;
}

nav a:hover {
    background-color: #4a90e2;
}

  main {
    grid-area: main;
    background: #fafafa;
    padding: 20px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  aside {
    grid-area: aside;
    background: #fff7e6;
    padding: 20px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  footer {
    grid-area: footer;
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

li {
  list-style-type: none;
}

.carousel-item img {
  color: #333333;
  width: 100%;               /* Ширина изображения будет равна ширине контейнера */
  height: 500px;             /* Установите нужную высоту */
  object-fit: cover;         /* Заполняет контейнер, сохраняя пропорции изображения */
  object-position: center;   /* Центрирует изображение в контейнере */
}
      /* Parannuksia responsiivisuuteen */
        @media (max-width: 768px) {
            #home h1 {
                font-size: 1.5rem;
            }

            .navbar-brand {
                font-size: 1.25rem;
            }

          .carousel-item img {
              height: 200px; /* Уменьшение высоты изображений на мобильных */
            }
        }